## Summary 

Thank you for your interest in Vira Health's data science team!  

This jupyter notebook contains instructions for a short task which will give you an insight into some of what Vira Health is working on.   

The task is structured around building a simple 1 page dashboard that summarises what you think are the key characteristics of the datasets provided.  

Data provided is courtesy of the Study of Women's Health Across the Nation (SWAN) and is publically available from their [website](https://www.swanstudy.org/).      

Additional documentation can be found in the ICPSR data repository [here](https://www.icpsr.umich.edu/web/ICPSR/series/00253) and may be helpful to support completion of the task.

## Step 1: Data exploration 

The /data folder includes data from a questionnaire collected at baseline ("swan_1996_97_baseline.csv") and two annual follow-up visits ("swan_1997_99_visit1.csv", "swan_1998_00_visit2.csv").  

Documentation for the baseline visit with details of the questionnaire and variables referenced is also included in the /data folder as "baseline-visit-codebook-PI.pdf".  

As a first step, please load in the data in this python notebook and conduct whatever exploration you need to decide - **"What are the key characteristics of these datasets?"**.   

To help focus, remember that the overall aim of the task is to **build a simple 1 page dashboard that summarises the key characteristics of the datasets**.    

Example exploration could include answering sub-questions such as, what is the size of each sample? how many participants have data in all follow-up visits?  

Please include inline code comments or markdown to explain your approach.  

Note, this exploration is not expected to be comprehensive, but if there are further analyses you would conduct to help you understand these datasets please include them in your commentary and explain what you would do.

# Summary of response

Overall, I approached this task as follows:
    
1. Explore dataset in Jupyter/Excel
2. Use this to educate development of data processing functions in Jupyter
3. Set up postgres db in Docker container
4. Sketch out an ETL that loads data to postgres
5. Develop Dash app in Jupyter environment using JupyterDash
6. Set up Dash app in a seperate container that sends query requests to db container

The goal was to provide theoretical data consumers with sufficiently processed data (e.g. null values standardised, datetimes converted) to generate more engineering requirements. The features of the data quality dashboard could be used in conjunction with the data itself to educate this process.


The database and dashboard are each hosted in docker containers, to easily deploy/scale up in a theoretical production environment.

## Steps to run locally

1. Make sure you have jupyter installed on your machine
2. Make sure you have Docker installed on your machine
3. `docker-compose up db` to spin up the postgres service, which will be available at 127.0.0.1:5433
4. Open this notebook in the `/vira-data-science-pre-work` repo with jupyter, and run cells in section 2.
5. `docker-compose up dashboard` to spin up the `dash` service.
6. Access the dash service at 0.0.0.0/8000

## 0. Install dependencies

In [1]:
%%capture
!pip install -r requirements.txt

# 1. Import packages

In [2]:
import pandas as pd
import re
import numpy as np
import sqlalchemy

# 2. Load data

In [3]:
baseline_df = pd.read_csv("data/swan_1996_97_baseline.csv")
visit1_df = pd.read_csv("data/swan_1997_99_visit1.csv")
visit2_df = pd.read_csv("data/swan_1998_00_visit2.csv")
dfs = {'baseline_df': baseline_df, 'visit1_df': visit1_df,'visit2_df': visit2_df}

/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (119,215,261) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,33,37,51,52,53,57,103,104,105,106,147,148,149,150,151,152,153,154,209,211,267,270) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,53,57,67,75,77,99,100,101,102,103,104,105,106,107,159,160,161,162,163,164,165,166,167,210,227,494) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 3. First observations

- How much data are we dealing with?

In [4]:
for name, df in dfs.items():
    print(f'{name} dims: {df.shape}')

baseline_df dims: (3302, 741)
visit1_df dims: (2881, 576)
visit2_df dims: (2748, 551)

-  First observations
   1. The data is _very_ wide. Due to the width of the data, its easiest digest to interrogate outside of jupyter. Excel will suit fine in this case of csvs on disk. If the location differed, we could choose a different solution (e.g. AWS Athena for S3 data, RDBMS for data in a database, etc.)
   2. The number of rows decreases from baseline -> 2nd visit, whether this is due to inherent dropoff in the dataset or a potential issue is unknown at this stage
   3. The number of columns decreases similarly.
- Action points at this stage after getting eyes on data in excel:
    1. Each table has column suffixes which we may or may not want to remove
    2. We have a lot of text data that may need encoding into some other form
    3. We have a lot of 'NA' strings and other encoding of NULL that may need cleaning
    4. There is some time data in string format

### Handling text data

- Given my current lack of understanding of the data, I will leave multicategorical survey results as is, until a requirement is given to change them. However, we can convert binary text columns to boolean (nullable boolean dtype supported in `pd >= .1.0.0`) and save some memory

In [5]:
def _convert_bools(df):
    """
    Finds where a dataframe only has binary string values, and converts to boolean.
    This ignore
    """
    out_df = df.copy()
    for col in df.columns:
        if set(df[col][df[col].notna()].unique())  <=  {'(1) No', '(2) Yes' }:
             out_df[col] = out_df[col].map({'(1) No': 0, '(2) Yes' :1}).astype("boolean")
    return out_df

def convert_bools(dict_of_dfs):
    """
    Loops through dataframes and converts strings to booleans where appropriate
    """
    out = {}
    for name,df in dfs.items():
        out[name] =_convert_bools(df)  
    return out

### Handling missing values

- Luckily pandas assumes 'NA' = NaN. But we still have wide variety of string-encoded null data

In [6]:
def strip_whitespace(dict_of_dfs):
    """
    Loops through dataframes and strips whitespace
    """
    out = {}
    for name,df in dfs.items():
        out[name] = _strip_whitespace(df)
    return out

def _strip_whitespace(df):
    """
    Indexes object columns from a df and strips whitespace
    """
    out_df = df.copy()
    for col in out_df.loc[:, out_df.dtypes == object].columns:
        out_df[col] = out_df[col].str.strip(' ')
    return out_df

def clean_nans(dict_of_dfs):
    """
    Loops through dataframes and cleans string-encoded null data 
    """
    out = {}
    for name,df in dfs.items():
        out[name] = _clean_nans(df)
    return out

def _clean_nans(df):
    """
    Replaces anything in string_nans with na in object columns
    """
    string_nans=['.','', '-1']
    replace_dict = dict(zip(string_nans,[np.nan]*3))
    out_df = df.copy()
    for col in out_df.loc[:, out_df.dtypes == object].columns:
        if out_df[col].isin(string_nans).any():
            out_df[col] = out_df[col].replace(replace_dict)
    return out_df

NB _clean_nans()_ should be safe for cols like LMPDAY0 which have negative integer values, as they are not read in  as `object` dtype by pandas.

### Converting datetimes

- Do we have any datetimes with `/` or `:` formatting?

In [7]:
for name,df in dfs.items():
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].str.contains('/').any():
                print(df[col])

0       (1) Yes, as per protocol
1       (1) Yes, as per protocol
2       (1) Yes, as per protocol
3       (1) Yes, as per protocol
4       (1) Yes, as per protocol
                  ...
3297    (1) Yes, as per protocol
3298    (1) Yes, as per protocol
3299       (3) Yes, Last attempt
3300    (1) Yes, as per protocol
3301    (1) Yes, as per protocol
Name: BLDRWAT0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1              (2) Some/A Little Of The Time (1-2 Days)
2              (2) Some/A Little Of The Time (1-2 Days)
3              (2) Some/A Little Of The Time (1-2 Days)
4              (2) Some/A Little Of The Time (1-2 Days)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301              (1) Rarely/None Of The Time (< 1 Day)
Name: BOTHER0, Length: 3302, dtype: object
0            (4) Most/All Of The Time (5-7 Days)
1          (1) Rarely/None Of The Time (< 1 Day)
2          (1) Rarely/None Of The Time (< 1 Day)
3          (1) Rarely/None Of The Time (< 1 Day)
4          (1) Rarely/None Of The Time (< 1 Day)
                          ...
3297       (1) Rarely/None Of The Time (< 1 Day)
3298       (1) Rarely/None Of The Time (< 1 Day)
3299       (1) Rarely/None Of The Time (< 1 Day)
3300       (1) Rarely/None Of The Time (< 1 Day)
3301    (2) Some/A Little Of The Time (1-2 Days)
Name: APPETIT0, Length: 3302, dtype: object
0                   (4) Most/All Of The Time (5-7 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299           (2) Some/A Little Of The Time (1-2 Days)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301              (1) Rarely/None Of The Time (< 1 Day)
Name: BLUES0, Length: 3302, dtype: object
0                   (4) Most/All Of The Time (5-7 Days)
1                   (4) Most/All Of The Time (5-7 Days)
2                   (4) Most/All Of The Time (5-7 Days)
3       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
4                   (4) Most/All Of The Time (5-7 Days)
                             ...
3297                (4) Most/All Of The Time (5-7 Days)
3298                (4) Most/All Of The Time (5-7 Days)
3299                (4) Most/All Of The Time (5-7 Days)
3300                (4) Most/All Of The Time (5-7 Days)
3301                (4) Most/All Of The Time (5-7 Days)
Name: GOOD0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
4       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
                             ...
3297    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301                (4) Most/All Of The Time (5-7 Days)
Name: KEEPMIN0, Length: 3302, dtype: object
0            (4) Most/All Of The Time (5-7 Days)
1          (1) Rarely/None Of The Time (< 1 Day)
2          (1) Rarely/None Of The Time (< 1 Day)
3          (1) Rarely/None Of The Time (< 1 Day)
4            (4) Most/All Of The Time (5-7 Days)
                          ...
3297    (2) Some/A Little Of The Time (1-2 Days)
3298       (1) Rarely/None Of The Time (< 1 Day)
3299    (2) Some/A Little Of The Time (1-2 Days)
3300       (1) Rarely/None Of The Time (< 1 Day)
3301         (4) Most/All Of The Time (5-7 Days)
Name: DEPRESS0, Length: 3302, dtype: object
0                   (4) Most/All Of The Time (5-7 Days)
1              (2) Some/A Little Of The Time (1-2 Days)
2              (2) Some/A Little Of The Time (1-2 Days)
3                 (1) Rarely/None Of The Time (< 1 Day)
4                   (4) Most/All Of The Time (5-7 Days)
                             ...
3297    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300           (2) Some/A Little Of The Time (1-2 Days)
3301    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
Name: EFFORT0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                   (4) Most/All Of The Time (5-7 Days)
2                   (4) Most/All Of The Time (5-7 Days)
3       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
4              (2) Some/A Little Of The Time (1-2 Days)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298                (4) Most/All Of The Time (5-7 Days)
3299    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3300                (4) Most/All Of The Time (5-7 Days)
3301                (4) Most/All Of The Time (5-7 Days)
Name: HOPEFUL0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
                             ...
3297    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301           (2) Some/A Little Of The Time (1-2 Days)
Name: FAILURE0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1              (2) Some/A Little Of The Time (1-2 Days)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4                 (1) Rarely/None Of The Time (< 1 Day)
                             ...
3297    (3) Occasionally/Mod Amt Of The Time (3-4 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301              (1) Rarely/None Of The Time (< 1 Day)
Name: FEARFUL0, Length: 3302, dtype: object
0            (4) Most/All Of The Time (5-7 Days)
1       (2) Some/A Little Of The Time (1-2 Days)
2       (2) Some/A Little Of The Time (1-2 Days)
3          (1) Rarely/None Of The Time (< 1 Day)
4          (1) Rarely/None Of The Time (< 1 Day)
                          ...
3297       (1) Rarely/None Of The Time (< 1 Day)
3298       (1) Rarely/None Of The Time (< 1 Day)
3299    (2) Some/A Little Of The Time (1-2 Days)
3300       (1) Rarely/None Of The Time (< 1 Day)
3301         (4) Most/All Of The Time (5-7 Days)
Name: RESTLES0, Length: 3302, dtype: object
0                 (1) Rarely/None Of The Time (< 1 Day)
1       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
2                   (4) Most/All Of The Time (5-7 Days)
3       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
4                 (1) Rarely/None Of The Time (< 1 Day)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298                (4) Most/All Of The Time (5-7 Days)
3299           (2) Some/A Little Of The Time (1-2 Days)
3300                (4) Most/All Of The Time (5-7 Days)
3301              (1) Rarely/None Of The Time (< 1 Day)
Name: HAPPY0, Length: 3302, dtype: object
0          (1) Rarely/None Of The Time (< 1 Day)
1            (4) Most/All Of The Time (5-7 Days)
2          (1) Rarely/None Of The Time (< 1 Day)
3          (1) Rarely/None Of The Time (< 1 Day)
4          (1) Rarely/None Of The Time (< 1 Day)
                          ...
3297       (1) Rarely/None Of The Time (< 1 Day)
3298       (1) Rarely/None Of The Time (< 1 Day)
3299       (1) Rarely/None Of The Time (< 1 Day)
3300       (1) Rarely/None Of The Time (< 1 Day)
3301    (2) Some/A Little Of The Time (1-2 Days)
Name: TALKLES0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4                 (1) Rarely/None Of The Time (< 1 Day)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299           (2) Some/A Little Of The Time (1-2 Days)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301              (1) Rarely/None Of The Time (< 1 Day)
Name: LONELY0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4                 (1) Rarely/None Of The Time (< 1 Day)
                             ...
3297              (1) Rarely/None Of The Time (< 1 Day)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301                (4) Most/All Of The Time (5-7 Days)
Name: UNFRNDL0, Length: 3302, dtype: object
0          (1) Rarely/None Of The Time (< 1 Day)
1            (4) Most/All Of The Time (5-7 Days)
2          (1) Rarely/None Of The Time (< 1 Day)
3            (4) Most/All Of The Time (5-7 Days)
4       (2) Some/A Little Of The Time (1-2 Days)
                          ...
3297         (4) Most/All Of The Time (5-7 Days)
3298         (4) Most/All Of The Time (5-7 Days)
3299    (2) Some/A Little Of The Time (1-2 Days)
3300         (4) Most/All Of The Time (5-7 Days)
3301       (1) Rarely/None Of The Time (< 1 Day)
Name: ENJOY0, Length: 3302, dtype: object
0       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
                             ...
3297              (1) Rarely/None Of The Time (< 1 Day)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299              (1) Rarely/None Of The Time (< 1 Day)
3300              (1) Rarely/None Of The Time (< 1 Day)
3301                (4) Most/All Of The Time (5-7 Days)
Name: CRYING0, Length: 3302, dtype: object
0                   (4) Most/All Of The Time (5-7 Days)
1                 (1) Rarely/None Of The Time (< 1 Day)
2                 (1) Rarely/None Of The Time (< 1 Day)
3                 (1) Rarely/None Of The Time (< 1 Day)
4       (3) Occasionally/Mod Amt Of The Time (3-4 Days)
                             ...
3297           (2) Some/A Little Of The Time (1-2 Days)
3298              (1) Rarely/None Of The Time (< 1 Day)
3299           (2) Some/A Little Of The Time (1-2 Days)
3300           (2) Some/A Little Of The Time (1-2 Days)
3301                (4) Most/All Of The Time (5-7 Days)
Name: SAD0, Length: 3302, dtype: object
0         (4) Most/All Of The Time (5-7 Days)
1       (1) Rarely/None Of The Time (< 1 Day)
2       (1) Rarely/None Of The Time (< 1 Day)
3       (1) Rarely/None Of The Time (< 1 Day)
4       (1) Rarely/None Of The Time (< 1 Day)
                        ...
3297    (1) Rarely/None Of The Time (< 1 Day)
3298    (1) Rarely/None Of The Time (< 1 Day)
3299    (1) Rarely/None Of The Time (< 1 Day)
3300    (1) Rarely/None Of The Time (< 1 Day)
3301    (1) Rarely/None Of The Time (< 1 Day)
Name: DISLIKE0, Length: 3302, dtype: object
0            (4) Most/All Of The Time (5-7 Days)
1          (1) Rarely/None Of The Time (< 1 Day)
2          (1) Rarely/None Of The Time (< 1 Day)
3       (2) Some/A Little Of The Time (1-2 Days)
4            (4) Most/All Of The Time (5-7 Days)
                          ...
3297       (1) Rarely/None Of The Time (< 1 Day)
3298       (1) Rarely/None Of The Time (< 1 Day)
3299       (1) Rarely/None Of The Time (< 1 Day)
3300       (1) Rarely/None Of The Time (< 1 Day)
3301         (4) Most/All Of The Time (5-7 Days)
Name: GETGOIN0, Length: 3302, dtype: object
0       -1
1       -1
2       -1
3       -1
4       -1
             ...
3297    -1
3298    -1
3299    -1
3300    -1
3301    -1
Name: PROGSPE0, Length: 3302, dtype: object
0       (1) None Or Less Than 1 Hr/Wk
1       (1) None Or Less Than 1 Hr/Wk
2       (1) None Or Less Than 1 Hr/Wk
3       (1) None Or Less Than 1 Hr/Wk
4               (3) 20 Hrs Or More/Wk
                    ...
3297            (3) 20 Hrs Or More/Wk
3298    (1) None Or Less Than 1 Hr/Wk
3299    (1) None Or Less Than 1 Hr/Wk
3300    (1) None Or Less Than 1 Hr/Wk
3301    (1) None Or Less Than 1 Hr/Wk
Name: CHLDCAR0, Length: 3302, dtype: object
0       (2) Between 1 And 2 Hrs/Day
1           (3) More Than 2 Hrs/Day
2           (3) More Than 2 Hrs/Day
3        (1) 1 Hour Or Less Per Day
4       (2) Between 1 And 2 Hrs/Day
                   ...
3297        (3) More Than 2 Hrs/Day
3298    (2) Between 1 And 2 Hrs/Day
3299     (1) 1 Hour Or Less Per Day
3300    (2) Between 1 And 2 Hrs/Day
3301        (3) More Than 2 Hrs/Day
Name: PREPMEA0, Length: 3302, dtype: object
0                       (3) Daily Or More
1                       (3) Daily Or More
2                       (3) Daily Or More
3       (2) More Than Once/Wk But < Daily
4       (2) More Than Once/Wk But < Daily
                      ...
3297                    (3) Daily Or More
3298                    (3) Daily Or More
3299    (2) More Than Once/Wk But < Daily
3300    (2) More Than Once/Wk But < Daily
3301    (2) More Than Once/Wk But < Daily

Name: LGTCHOR0, Length: 3302, dtype: object
0       (3) 4 Or More Times/Month
1       (3) 4 Or More Times/Month
2             (2) 2-3 Times/Month
3             (2) 2-3 Times/Month
4       (3) 4 Or More Times/Month
                  ...
3297          (2) 2-3 Times/Month
3298    (3) 4 Or More Times/Month
3299    (3) 4 Or More Times/Month
3300     (1) Once A Month Or Less
3301    (3) 4 Or More Times/Month
Name: MODCHOR0, Length: 3302, dtype: object
0       (1) Once A Month Or Less
1       (1) Once A Month Or Less
2       (1) Once A Month Or Less
3       (1) Once A Month Or Less
4       (1) Once A Month Or Less
                  ...
3297    (1) Once A Month Or Less
3298    (1) Once A Month Or Less
3299    (1) Once A Month Or Less
3300    (1) Once A Month Or Less
3301    (1) Once A Month Or Less
Name: VIGCHOR0, Length: 3302, dtype: object
0                           (4) 2-4 Hrs/Day
1                           (4) 2-4 Hrs/Day
2                           (3) 1-2 Hrs/Day
3                           (4) 2-4 Hrs/Day
4       (2) At Least 1 Hr/Wk But < 1 Hr/Day
                       ...
3297                (5) More Than 4 Hrs/Day
3298                (5) More Than 4 Hrs/Day
3299                        (4) 2-4 Hrs/Day
3300                        (4) 2-4 Hrs/Day
3301                        (3) 1-2 Hrs/Day
Name: WATCHTV0, Length: 3302, dtype: object
0         (5) More Than 45 Minutes/Day
1       (1) Never/ < 5 Minutes Per Day
2                 (2) 5-15 Minutes/Day
3                (3) 16-30 Minutes/Day
4                (3) 16-30 Minutes/Day
                     ...
3297    (1) Never/ < 5 Minutes Per Day
3298    (1) Never/ < 5 Minutes Per Day
3299    (1) Never/ < 5 Minutes Per Day
3300    (1) Never/ < 5 Minutes Per Day
3301              (2) 5-15 Minutes/Day
Name: WALKBIK0, Length: 3302, dtype: object
0       (1) Never/Less Than Once A Month
1                            (4) Once/Wk
2       (1) Never/Less Than Once A Month
3                            (4) Once/Wk
4       (1) Never/Less Than Once A Month
                      ...
3297                         (4) Once/Wk
3298               (3) 2-3 Times A Month
3299                    (2) Once A Month
3300    (1) Never/Less Than Once A Month
3301               (3) 2-3 Times A Month
Name: SWEATPA0, Length: 3302, dtype: object
0               (4) Yes, 3-4 Times/Wk
1                (2) Yes, < Once A Wk
2               (3) Yes, 1-2 Times/Wk
3       (1) No, Not In The Past 2 Wks
4       (1) No, Not In The Past 2 Wks
                    ...
3297             (2) Yes, < Once A Wk
3298    (1) No, Not In The Past 2 Wks
3299            (3) Yes, 1-2 Times/Wk
3300    (1) No, Not In The Past 2 Wks
3301            (4) Yes, 3-4 Times/Wk
Name: TRBLSLE0, Length: 3302, dtype: object
0               (4) Yes, 3-4 Times/Wk
1         (5) Yes, 5 or More Times/Wk
2                (2) Yes, < Once A Wk
3                (2) Yes, < Once A Wk
4       (1) No, Not In The Past 2 Wks
                    ...
3297            (4) Yes, 3-4 Times/Wk
3298             (2) Yes, < Once A Wk
3299    (1) No, Not In The Past 2 Wks
3300    (1) No, Not In The Past 2 Wks
3301            (4) Yes, 3-4 Times/Wk
Name: WAKEUP0, Length: 3302, dtype: object
0         (5) Yes, 5 or More Times/Wk
1               (3) Yes, 1-2 Times/Wk
2                (2) Yes, < Once A Wk
3                (2) Yes, < Once A Wk
4       (1) No, Not In The Past 2 Wks
                    ...
3297            (3) Yes, 1-2 Times/Wk
3298    (1) No, Not In The Past 2 Wks
3299    (1) No, Not In The Past 2 Wks
3300    (1) No, Not In The Past 2 Wks
3301            (3) Yes, 1-2 Times/Wk
Name: WAKEARL0, Length: 3302, dtype: object
0                           (1) Never
1        (6) More Than Once Per Night
2            (2) Rarely (< Once A Wk)
3            (2) Rarely (< Once A Wk)
4       (5) Once A Night, Every Night
                    ...
3297    (5) Once A Night, Every Night
3298    (5) Once A Night, Every Night
3299         (2) Rarely (< Once A Wk)
3300         (2) Rarely (< Once A Wk)
3301    (5) Once A Night, Every Night
Name: GETUPUR0, Length: 3302, dtype: object
0         (4) Almost Daily/Daily
1                            NaN
2       (2) Less Than 1 Day/Week
3         (4) Almost Daily/Daily
4          (3) Several Days/Week
                  ...
3297                         NaN
3298    (2) Less Than 1 Day/Week
3299                         NaN
3300                         NaN
3301      (4) Almost Daily/Daily
Name: DAYSLEA0, Length: 3302, dtype: object
0       (2) Enough to Change Underwear/Wear Liner
1                                             NaN
2                               (1) A Drop Or Two
3       (2) Enough to Change Underwear/Wear Liner
4       (2) Enough to Change Underwear/Wear Liner
                          ...
3297                                          NaN
3298             (3) Enough to Wet Outer Clothing
3299                                          NaN
3300                                          NaN
3301    (2) Enough to Change Underwear/Wear Liner
Name: AMTLEAK0, Length: 3302, dtype: object
0       (16) Other, incl agnostic/atheist
1                       (05) Presbyterian
2                     (07) Roman Catholic
3                          (04) Episcopal
4       (16) Other, incl agnostic/atheist
                      ...
3297                         (03) Baptist
3298                (06) Other Protestant
3299                (06) Other Protestant
3300                            (17) None
3301                  (07) Roman Catholic
Name: RELIPRE0, Length: 3302, dtype: object
0       (6) Nearly every day - >=4 times/wk
1               (4) Monthly/Few Times a Mon
2                           (2) < Once a Yr
3       (5) At Least Once/Wk - 1-3 times/wk
4       (6) Nearly every day - >=4 times/wk
                       ...
3297              (3) Yearly/Few Times a Yr
3298    (6) Nearly every day - >=4 times/wk
3299    (5) At Least Once/Wk - 1-3 times/wk
3300                              (1) Never
3301    (6) Nearly every day - >=4 times/wk
Name: PRAY0, Length: 3302, dtype: object
0       (5) At Least Once/Wk - 1-3 times/wk
1                 (3) Yearly/Few Times a Yr
2                           (2) < Once a Yr
3                           (2) < Once a Yr
4               (4) Monthly/Few Times a Mon
                       ...
3297              (3) Yearly/Few Times a Yr
3298                        (2) < Once a Yr
3299                        (2) < Once a Yr
3300                              (1) Never
3301            (4) Monthly/Few Times a Mon
Name: RELISRV0, Length: 3302, dtype: object
0       (2) Once or Twice/Mon
1       (2) Once or Twice/Mon
2       (4) More than Once/Wk
3       (4) More than Once/Wk
4       (2) Once or Twice/Mon
                ...
3297        (3) About Once/Wk
3298    (4) More than Once/Wk
3299           (1) Not At All
3300    (2) Once or Twice/Mon
3301           (1) Not At All
Name: DESIRSE0, Length: 3302, dtype: object
0                         NaN
1       (2) Once or Twice/Mon
2                   (5) Daily
3                   (5) Daily
4       (4) More than Once/Wk
                ...
3297    (4) More than Once/Wk
3298                (5) Daily
3299                      NaN
3300    (4) More than Once/Wk
3301                      NaN
Name: KISSING0, Length: 3302, dtype: object
0                         NaN
1                   (5) Daily
2                   (5) Daily
3       (4) More than Once/Wk
4           (3) About Once/Wk
                ...
3297        (3) About Once/Wk
3298    (4) More than Once/Wk
3299                      NaN
3300    (4) More than Once/Wk
3301                      NaN
Name: TOUCHIN0, Length: 3302, dtype: object
0                         NaN
1              (1) Not At All
2           (3) About Once/Wk
3       (2) Once or Twice/Mon
4       (2) Once or Twice/Mon
                ...
3297           (1) Not At All
3298        (3) About Once/Wk
3299                      NaN
3300    (2) Once or Twice/Mon
3301                      NaN
Name: ORALSEX0, Length: 3302, dtype: object
0                         NaN
1       (2) Once or Twice/Mon
2       (4) More than Once/Wk
3           (3) About Once/Wk
4       (4) More than Once/Wk
                ...
3297        (3) About Once/Wk
3298        (3) About Once/Wk
3299                      NaN
3300    (2) Once or Twice/Mon
3301                      NaN
Name: INTCOUR0, Length: 3302, dtype: object
0       (3) Once or Twice/Mon
1              (1) Not At All
2              (1) Not At All
3              (1) Not At All
4              (1) Not At All
                ...
3297           (1) Not At All
3298           (1) Not At All
3299           (1) Not At All
3300           (1) Not At All
3301           (1) Not At All
Name: MASTURB0, Length: 3302, dtype: object
0       (3) Sex with a man
1       (3) Sex with a man
2       (3) Sex with a man
3       (3) Sex with a man
4       (3) Sex with a man
               ...
3297    (3) Sex with a man
3298    (3) Sex with a man
3299     (1) Never had sex
3300    (3) Sex with a man
3301    (3) Sex with a man
Name: WHOSEX0, Length: 3302, dtype: object
0           (2) 1-2/wk
1            (7) 2/day
2           (4) 5-6/wk
3            (7) 2/day
4           (4) 5-6/wk
             ...
3297         (5) 1/day
3298        (4) 5-6/wk
3299         (7) 2/day
3300    (6) 1 1/2 /day
3301        (3) 3-4/wk
Name: GLOBVEG0, Length: 3302, dtype: object
0        (5) 1/day
1        (5) 1/day
2        (5) 1/day
3        (7) 2/day
4       (2) 1-2/wk
           ...
3297    (3) 3-4/wk
3298    (3) 3-4/wk
3299     (7) 2/day
3300    (4) 5-6/wk
3301    (2) 1-2/wk
Name: GLOBFRT0, Length: 3302, dtype: object
0       (1) < 1/wk
1       (3) 3-4/wk
2       (3) 3-4/wk
3        (5) 1/day
4       (1) < 1/wk
           ...
3297    (2) 1-2/wk
3298    (3) 3-4/wk
3299    (3) 3-4/wk
3300    (1) < 1/wk
3301    (1) < 1/wk
Name: GLOBCER0, Length: 3302, dtype: object
0       (4) 5-6/wk
1        (5) 1/day
2       (2) 1-2/wk
3       (1) < 1/wk
4       (1) < 1/wk
           ...
3297    (3) 3-4/wk
3298    (2) 1-2/wk
3299     (7) 2/day
3300    (1) < 1/wk
3301    (1) < 1/wk
Name: GLOBMLK0, Length: 3302, dtype: object
0                (458) Hairdressers & cosmetologists
1                        (379) General office clerks
2                                                NaN
3           (033) Purchasing agents & buyers, n.e.c.
4                            (095) Registered nurses
                            ...
3297                                             NaN
3298    (037) Management related occupations, n.e.c.
3299               (156) Teachers, elementary school
3300         (022) Managers & administrators, n.e.c.
3301                                             NaN
Name: OCCUP0, Length: 3302, dtype: object
0                           (5) Hispanic
1           (2) Chinese/Chinese American
2       (4) Caucasian/White Non-Hispanic
3       (4) Caucasian/White Non-Hispanic
4             (1) Black/African American
                      ...
3297          (1) Black/African American
3298      (3) Japanese/Japanese American
3299    (4) Caucasian/White Non-Hispanic
3300        (2) Chinese/Chinese American
3301                        (5) Hispanic
Name: RACE, Length: 3302, dtype: object
0           (2) Chinese/Chinese American
1       (4) Caucasian/White Non-Hispanic
2       (4) Caucasian/White Non-Hispanic
3             (1) Black/African American
4         (3) Japanese/Japanese American
                      ...
2876          (1) Black/African American
2877      (3) Japanese/Japanese American
2878    (4) Caucasian/White Non-Hispanic
2879        (2) Chinese/Chinese American
2880                        (5) Hispanic
Name: RACE, Length: 2881, dtype: object
0       (1) Yes, as per protocol
1       (1) Yes, as per protocol
2       (1) Yes, as per protocol
3       (1) Yes, as per protocol
4       (1) Yes, as per protocol
                  ...
2876    (1) Yes, as per protocol
2877    (1) Yes, as per protocol
2878    (1) Yes, as per protocol
2879    (1) Yes, as per protocol
2880    (1) Yes, as per protocol
Name: BLDRWAT1, Length: 2881, dtype: object

0       (1) Do not take any
1       (1) Do not take any
2                       NaN
3         (3) 4-6 days/week
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878          (4) Every day
2879                    NaN
2880                    NaN
Name: ONCEADA1, Length: 2881, dtype: object
0             (4) Every day
1       (1) Do not take any
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: ANTIOXI1, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VTMOTH11, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VTMOTH21, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VTMOTH31, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VTMOTH41, Length: 2881, dtype: object
0       (1) Do not take any
1         (2) 1-3 days/week
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: VITAMNA1, Length: 2881, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: BETACAR1, Length: 2881, dtype: object
0       (1) Do not take any
1             (4) Every day
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: VITAMNC1, Length: 2881, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: VITAMND1, Length: 2881, dtype: object
0             (4) Every day
1             (4) Every day
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: VITAMNE1, Length: 2881, dtype: object
0             (4) Every day
1             (4) Every day
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: CALCTUM1, Length: 2881, dtype: object
0       (1) Do not take any
1             (4) Every day
2                       NaN
3       (1) Do not take any
4                       NaN
               ...
2876                    NaN
2877                    NaN
2878    (1) Do not take any
2879                    NaN
2880                    NaN
Name: IRON1, Length: 2881, dtype: object
0                 NaN
1       (4) Every day
2                 NaN
3                 NaN
4                 NaN
            ...
2876              NaN
2877              NaN
2878              NaN
2879              NaN
2880              NaN
Name: VITOTH11, Length: 2881, dtype: object
0                 NaN
1       (4) Every day
2                 NaN
3                 NaN
4                 NaN
            ...
2876              NaN
2877              NaN
2878              NaN
2879              NaN
2880              NaN
Name: VITOTH21, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VITOTH31, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: VITOTH41, Length: 2881, dtype: object
0       (1) Contains minerals (iron/calc)
1                                     NaN
2                                     NaN
3       (1) Contains minerals (iron/calc)
4                                     NaN
                      ...
2876                                  NaN
2877                                  NaN
2878    (1) Contains minerals (iron/calc)
2879                                  NaN
2880                                  NaN
Name: MULTVIT1, Length: 2881, dtype: object
0       -1
1       -1
2       "PINKY" FINGER BONE BROKE
3       -1
4       -1
                     ...
2876    -1
2877    -1
2878    -1
2879    -1
2880    -1
Name: BONES11, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1       (3) Occasionally/moderate amount of the time (...
2                (2) Some/a little of the time (1-2 days)
3                (2) Some/a little of the time (1-2 days)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877                  (4) Most/all of the time (5-7 days)
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880             (2) Some/a little of the time (1-2 days)
Name: BOTHER1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876                (1) Rarely/none of the time (< 1 day)
2877    (3) Occasionally/moderate amount of the time (...
2878             (2) Some/a little of the time (1-2 days)
2879                (1) Rarely/none of the time (< 1 day)
2880                (1) Rarely/none of the time (< 1 day)
Name: APPETIT1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877    (3) Occasionally/moderate amount of the time (...
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880                (1) Rarely/none of the time (< 1 day)
Name: BLUES1, Length: 2881, dtype: object
0                     (4) Most/all of the time (5-7 days)
1                     (4) Most/all of the time (5-7 days)
2       (3) Occasionally/moderate amount of the time (...
3                     (4) Most/all of the time (5-7 days)
4                     (4) Most/all of the time (5-7 days)
                              ...
2876    (3) Occasionally/moderate amount of the time (...
2877                  (4) Most/all of the time (5-7 days)
2878                  (4) Most/all of the time (5-7 days)
2879                  (4) Most/all of the time (5-7 days)
2880                  (4) Most/all of the time (5-7 days)
Name: GOOD1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                (2) Some/a little of the time (1-2 days)
3       (3) Occasionally/moderate amount of the time (...
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876    (3) Occasionally/moderate amount of the time (...
2877                  (4) Most/all of the time (5-7 days)
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880             (2) Some/a little of the time (1-2 days)
Name: KEEPMIN1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                (2) Some/a little of the time (1-2 days)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876    (3) Occasionally/moderate amount of the time (...
2877                  (4) Most/all of the time (5-7 days)
2878             (2) Some/a little of the time (1-2 days)
2879             (2) Some/a little of the time (1-2 days)
2880             (2) Some/a little of the time (1-2 days)
Name: DEPRESS1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                (2) Some/a little of the time (1-2 days)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876    (3) Occasionally/moderate amount of the time (...
2877                  (4) Most/all of the time (5-7 days)
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880             (2) Some/a little of the time (1-2 days)
Name: EFFORT1, Length: 2881, dtype: object
0                     (4) Most/all of the time (5-7 days)
1                     (4) Most/all of the time (5-7 days)
2       (3) Occasionally/moderate amount of the time (...
3                     (4) Most/all of the time (5-7 days)
4                     (4) Most/all of the time (5-7 days)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877             (2) Some/a little of the time (1-2 days)
2878    (3) Occasionally/moderate amount of the time (...
2879                  (4) Most/all of the time (5-7 days)
2880             (2) Some/a little of the time (1-2 days)
Name: HOPEFUL1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877    (3) Occasionally/moderate amount of the time (...
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880                (1) Rarely/none of the time (< 1 day)
Name: FAILURE1, Length: 2881, dtype: object
0          (1) Rarely/none of the time (< 1 day)
1          (1) Rarely/none of the time (< 1 day)
2          (1) Rarely/none of the time (< 1 day)
3          (1) Rarely/none of the time (< 1 day)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2876       (1) Rarely/none of the time (< 1 day)
2877         (4) Most/all of the time (5-7 days)
2878    (2) Some/a little of the time (1-2 days)
2879       (1) Rarely/none of the time (< 1 day)
2880       (1) Rarely/none of the time (< 1 day)
Name: FEARFUL1, Length: 2881, dtype: object
0            (4) Most/all of the time (5-7 days)
1       (2) Some/a little of the time (1-2 days)
2          (1) Rarely/none of the time (< 1 day)
3          (1) Rarely/none of the time (< 1 day)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2876    (2) Some/a little of the time (1-2 days)
2877         (4) Most/all of the time (5-7 days)
2878    (2) Some/a little of the time (1-2 days)
2879    (2) Some/a little of the time (1-2 days)
2880    (2) Some/a little of the time (1-2 days)
Name: RESTLES1, Length: 2881, dtype: object
0                     (4) Most/all of the time (5-7 days)
1                (2) Some/a little of the time (1-2 days)
2       (3) Occasionally/moderate amount of the time (...
3                   (1) Rarely/none of the time (< 1 day)
4                     (4) Most/all of the time (5-7 days)
                              ...
2876                  (4) Most/all of the time (5-7 days)
2877    (3) Occasionally/moderate amount of the time (...
2878    (3) Occasionally/moderate amount of the time (...
2879                  (4) Most/all of the time (5-7 days)
2880             (2) Some/a little of the time (1-2 days)
Name: HAPPY1, Length: 2881, dtype: object
0       (3) Occasionally/moderate amount of the time (...
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877    (3) Occasionally/moderate amount of the time (...
2878             (2) Some/a little of the time (1-2 days)
2879                (1) Rarely/none of the time (< 1 day)
2880                (1) Rarely/none of the time (< 1 day)
Name: TALKLES1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                   (1) Rarely/none of the time (< 1 day)
2                   (1) Rarely/none of the time (< 1 day)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877    (3) Occasionally/moderate amount of the time (...
2878             (2) Some/a little of the time (1-2 days)
2879             (2) Some/a little of the time (1-2 days)
2880                (1) Rarely/none of the time (< 1 day)
Name: LONELY1, Length: 2881, dtype: object
0          (1) Rarely/none of the time (< 1 day)
1          (1) Rarely/none of the time (< 1 day)
2          (1) Rarely/none of the time (< 1 day)
3          (1) Rarely/none of the time (< 1 day)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2876       (1) Rarely/none of the time (< 1 day)
2877       (1) Rarely/none of the time (< 1 day)
2878       (1) Rarely/none of the time (< 1 day)
2879    (2) Some/a little of the time (1-2 days)
2880    (2) Some/a little of the time (1-2 days)
Name: UNFRNDL1, Length: 2881, dtype: object
0                     (4) Most/all of the time (5-7 days)
1                     (4) Most/all of the time (5-7 days)
2       (3) Occasionally/moderate amount of the time (...
3                (2) Some/a little of the time (1-2 days)
4                     (4) Most/all of the time (5-7 days)
                              ...
2876             (2) Some/a little of the time (1-2 days)
2877    (3) Occasionally/moderate amount of the time (...
2878    (3) Occasionally/moderate amount of the time (...
2879                  (4) Most/all of the time (5-7 days)
2880             (2) Some/a little of the time (1-2 days)
Name: ENJOY1, Length: 2881, dtype: object
0          (1) Rarely/none of the time (< 1 day)
1          (1) Rarely/none of the time (< 1 day)
2       (2) Some/a little of the time (1-2 days)
3          (1) Rarely/none of the time (< 1 day)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2876       (1) Rarely/none of the time (< 1 day)
2877         (4) Most/all of the time (5-7 days)
2878    (2) Some/a little of the time (1-2 days)
2879       (1) Rarely/none of the time (< 1 day)
2880       (1) Rarely/none of the time (< 1 day)
Name: CRYING1, Length: 2881, dtype: object
0          (1) Rarely/none of the time (< 1 day)
1       (2) Some/a little of the time (1-2 days)
2       (2) Some/a little of the time (1-2 days)
3          (1) Rarely/none of the time (< 1 day)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2876       (1) Rarely/none of the time (< 1 day)
2877         (4) Most/all of the time (5-7 days)
2878    (2) Some/a little of the time (1-2 days)
2879       (1) Rarely/none of the time (< 1 day)
2880    (2) Some/a little of the time (1-2 days)
Name: SAD1, Length: 2881, dtype: object
0          (1) Rarely/none of the time (< 1 day)
1          (1) Rarely/none of the time (< 1 day)
2          (1) Rarely/none of the time (< 1 day)
3          (1) Rarely/none of the time (< 1 day)
4       (2) Some/a little of the time (1-2 days)
                          ...
2876       (1) Rarely/none of the time (< 1 day)
2877       (1) Rarely/none of the time (< 1 day)
2878       (1) Rarely/none of the time (< 1 day)
2879       (1) Rarely/none of the time (< 1 day)
2880       (1) Rarely/none of the time (< 1 day)
Name: DISLIKE1, Length: 2881, dtype: object
0                   (1) Rarely/none of the time (< 1 day)
1                (2) Some/a little of the time (1-2 days)
2                (2) Some/a little of the time (1-2 days)
3                   (1) Rarely/none of the time (< 1 day)
4                   (1) Rarely/none of the time (< 1 day)
                              ...
2876                (1) Rarely/none of the time (< 1 day)
2877    (3) Occasionally/moderate amount of the time (...
2878                (1) Rarely/none of the time (< 1 day)
2879                (1) Rarely/none of the time (< 1 day)
2880             (2) Some/a little of the time (1-2 days)
Name: GETGOIN1, Length: 2881, dtype: object

0       (2) Currently married/living as married
1       (2) Currently married/living as married
2       (2) Currently married/living as married
3       (2) Currently married/living as married
4       (2) Currently married/living as married
                         ...
2876                              (3) Separated
2877    (2) Currently married/living as married
2878                   (1) Single/never married
2879    (2) Currently married/living as married
2880    (2) Currently married/living as married
Name: MARITAL1, Length: 2881, dtype: object
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
                      ...
2876                                  NaN
2877                                  NaN
2878                                  NaN
2879    (3) Infrequently (several x/year)
2880             (5) Rarely (< once/year)
Name: CONTCT11, Length: 2881, dtype: object
0             (7) Have not moved
1                      (6) Never
2       (5) Rarely (< once/year)
3                      (6) Never
4                     (4) Yearly
                  ...
2876          (7) Have not moved
2877                  (1) Weekly
2878          (7) Have not moved
2879                         NaN
2880                         NaN
Name: CONTCT21, Length: 2881, dtype: object
0       (4) Infrequently(several x/year)
1                              (1) Daily
2                              (1) Daily
3                              (1) Daily
4                              (1) Daily
                      ...
2876                           (1) Daily
2877                           (1) Daily
2878                           (1) Daily
2879                           (1) Daily
2880                           (1) Daily
Name: CONTETH1, Length: 2881, dtype: object
0       -1
1       -1
2       -1
3       SON
4       -1
                    ...
2876    MOTHER
2877    FIANCE
2878    -1
2879    SON
2880    DAUGHTER
Name: RELAT21, Length: 2881, dtype: object
0       -1
1       -1
2       -1
3       -1
4       -1
                     ...
2876    -1
2877    -1
2878    -1
2879    -1
2880    -1
Name: HLTHSV21, Length: 2881, dtype: object
0       -1
1       -1
2       -1
3       -1
4       -1
                     ...
2876    -1
2877    -1
2878    -1
2879    -1
2880    -1
Name: HLTHSV31, Length: 2881, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2876    NaN
2877    NaN
2878    NaN
2879    NaN
2880    NaN
Name: PRIMREA1, Length: 2881, dtype: object
0                         NaN
1                  (3) 1/week
2               (2) 1-3/month
3       (1) None or < 1/month
4                         NaN
                ...
2876                (6) 1/day
2877                      NaN
2878    (1) None or < 1/month
2879    (1) None or < 1/month
2880    (1) None or < 1/month
Name: GLASBEE1, Length: 2881, dtype: object
0                         NaN
1                   (6) 1/day
2               (2) 1-3/month
3       (1) None or < 1/month
4                         NaN
                ...
2876    (1) None or < 1/month
2877                      NaN
2878             (4) 2-4/week
2879            (2) 1-3/month
2880    (1) None or < 1/month
Name: GLASWIN1, Length: 2881, dtype: object
0                         NaN
1               (2) 1-3/month
2       (1) None or < 1/month
3       (1) None or < 1/month
4                         NaN
                ...
2876    (1) None or < 1/month
2877                      NaN
2878            (2) 1-3/month
2879    (1) None or < 1/month
2880    (1) None or < 1/month
Name: GLASLIQ1, Length: 2881, dtype: object
0                               (3) 1-2 hours/day
1                               (4) 2-4 hours/day
2                               (4) 2-4 hours/day
3       (2) At least 1 hour/week but < 1 hour/day
4                               (4) 2-4 hours/day
                          ...
2876                    (5) More than 4 hours/day
2877                    (5) More than 4 hours/day
2878                            (3) 1-2 hours/day
2879                            (3) 1-2 hours/day
2880                            (4) 2-4 hours/day
Name: WATCHTV1, Length: 2881, dtype: object
0                     (3) 16-30 minutes/day
1                      (2) 5-15 minutes/day
2                      (2) 5-15 minutes/day
3                      (2) 5-15 minutes/day
4       (1) Never or less 5 minutes per day
                       ...
2876                  (4) 31-45 minutes/day
2877    (1) Never or less 5 minutes per day
2878    (1) Never or less 5 minutes per day
2879                  (3) 16-30 minutes/day
2880                  (3) 16-30 minutes/day
Name: WALKBIK1, Length: 2881, dtype: object
0                     (3) 2-3 times a month
1       (1) Never or less than once a month
2                             (4) Once/week
3       (1) Never or less than once a month
4                   (5) More than once/week
                       ...
2876                          (4) Once/week
2877    (1) Never or less than once a month
2878                (5) More than once/week
2879    (1) Never or less than once a month
2880    (1) Never or less than once a month
Name: SWEATPA1, Length: 2881, dtype: object
0                   (5) More than once/week
1                   (5) More than once/week
2                   (5) More than once/week
3       (1) Never or less than once a month
4                   (5) More than once/week
                       ...
2876    (1) Never or less than once a month
2877    (1) Never or less than once a month
2878                (5) More than once/week
2879                (5) More than once/week
2880    (1) Never or less than once a month
Name: SPORTS1, Length: 2881, dtype: object
0       (1) No, not in the past 2 weeks
1                (2) Yes, < once a week
2       (1) No, not in the past 2 weeks
3       (1) No, not in the past 2 weeks
4       (1) No, not in the past 2 weeks
                     ...
2876            (3) Yes, 1-2 times/week
2877            (3) Yes, 1-2 times/week
2878            (3) Yes, 1-2 times/week
2879             (2) Yes, < once a week
2880            (3) Yes, 1-2 times/week
Name: TRBLSLE1, Length: 2881, dtype: object
0         (5) Yes, 5 or more times/week
1                (2) Yes, < once a week
2                (2) Yes, < once a week
3       (1) No, not in the past 2 weeks
4                (2) Yes, < once a week
                     ...
2876            (4) Yes, 3-4 times/week
2877            (3) Yes, 1-2 times/week
2878             (2) Yes, < once a week
2879    (1) No, not in the past 2 weeks
2880            (3) Yes, 1-2 times/week
Name: WAKEUP1, Length: 2881, dtype: object
0               (4) Yes, 3-4 times/week
1       (1) No, not in the past 2 weeks
2                (2) Yes, < once a week
3       (1) No, not in the past 2 weeks
4                (2) Yes, < once a week
                     ...
2876            (3) Yes, 1-2 times/week
2877             (2) Yes, < once a week
2878            (3) Yes, 1-2 times/week
2879    (1) No, not in the past 2 weeks
2880            (3) Yes, 1-2 times/week
Name: WAKEARL1, Length: 2881, dtype: object
0       (5) Once a night, every night
1          (2) Rarely (< once a week)
2          (2) Rarely (< once a week)
3       (5) Once a night, every night
4       (5) Once a night, every night
                    ...
2876    (5) Once a night, every night
2877    (5) Once a night, every night
2878                    (3) Once/week
2879                        (1) Never
2880    (5) Once a night, every night
Name: GETUPUR1, Length: 2881, dtype: object
0                            NaN
1          (3) Several days/week
2         (4) Almost daily/daily
3                            NaN
4         (4) Almost daily/daily
                  ...
2876                         NaN
2877      (4) Almost daily/daily
2878                         NaN
2879                         NaN
2880    (2) Less than 1 day/week
Name: DAYSLEA1, Length: 2881, dtype: object
0                                             NaN
1       (2) Enough to change underwear/wear liner
2       (2) Enough to change underwear/wear liner
3                                             NaN
4       (2) Enough to change underwear/wear liner
                          ...
2876                                          NaN
2877    (2) Enough to change underwear/wear liner
2878                                          NaN
2879                                          NaN
2880    (2) Enough to change underwear/wear liner
Name: AMTLEAK1, Length: 2881, dtype: object

0           (3) About once/week
1       (4) More than once/week
2       (4) More than once/week
3       (2) Once or twice/month
4                (1) Not at all
                 ...
2876    (2) Once or twice/month
2877    (4) More than once/week
2878    (2) Once or twice/month
2879        (3) About once/week
2880    (2) Once or twice/month
Name: DESIRSE1, Length: 2881, dtype: object
0                     (5) Daily
1                           NaN
2                     (5) Daily
3           (3) About once/week
4                           NaN
                 ...
2876                        NaN
2877                  (5) Daily
2878                        NaN
2879    (4) More than once/week
2880                        NaN
Name: KISSING1, Length: 2881, dtype: object
0                     (5) Daily
1                           NaN
2       (4) More than once/week
3       (4) More than once/week
4                           NaN
                 ...
2876                        NaN
2877        (3) About once/week
2878                        NaN
2879    (4) More than once/week
2880                        NaN
Name: TOUCHIN1, Length: 2881, dtype: object
0            (1) Not at all
1                       NaN
2       (3) About once/week
3            (1) Not at all
4                       NaN
               ...
2876                    NaN
2877    (3) About once/week
2878                    NaN
2879    (3) About once/week
2880                    NaN
Name: ORALSEX1, Length: 2881, dtype: object
0           (3) About once/week
1                           NaN
2           (3) About once/week
3       (4) More than once/week
4                           NaN
                 ...
2876                        NaN
2877        (3) About once/week
2878                        NaN
2879        (3) About once/week
2880                        NaN
Name: INTCOUR1, Length: 2881, dtype: object
0                 (1) Not at all
1       (2) Less than once/month
2                 (1) Not at all
3                 (1) Not at all
4                            NaN
                  ...
2876                         NaN
2877              (1) Not at all
2878              (1) Not at all
2879              (1) Not at all
2880              (1) Not at all
Name: MASTURB1, Length: 2881, dtype: object
0       (7) Unknown due to hormone therapy use
1                      (4) Early perimenopause
2                      (4) Early perimenopause
3                      (4) Early perimenopause
4                      (4) Early perimenopause
                         ...
2876                   (4) Early perimenopause
2877    (7) Unknown due to hormone therapy use
2878                   (4) Early perimenopause
2879                   (4) Early perimenopause
2880                   (4) Early perimenopause
Name: STATUS1, Length: 2881, dtype: object
0           (2) Chinese/Chinese American
1       (4) Caucasian/White Non-Hispanic
2             (1) Black/African American
3         (3) Japanese/Japanese American
4           (2) Chinese/Chinese American
                      ...
2743    (4) Caucasian/White Non-Hispanic
2744      (3) Japanese/Japanese American
2745    (4) Caucasian/White Non-Hispanic
2746        (2) Chinese/Chinese American
2747                        (5) Hispanic
Name: RACE, Length: 2748, dtype: object
0           (1) Yes, as per protocol
1       (2) Yes, menses too variable
2       (2) Yes, menses too variable
3           (1) Yes, as per protocol
4           (1) Yes, as per protocol
                    ...
2743                             NaN
2744        (1) Yes, as per protocol
2745        (1) Yes, as per protocol
2746           (3) Yes, last attempt
2747        (1) Yes, as per protocol
Name: BLDRWAT2, Length: 2748, dtype: object
0             (4) Every day
1       (1) Do not take any
2             (4) Every day
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745          (4) Every day
2746      (2) 1-3 days/week
2747                    NaN
Name: ONCEADA2, Length: 2748, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2             (4) Every day
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745          (4) Every day
2746    (1) Do not take any
2747                    NaN
Name: ANTIOXI2, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VTMOTH12, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VTMOTH22, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VTMOTH32, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VTMOTH42, Length: 2748, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2       (1) Do not take any
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: VITAMNA2, Length: 2748, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2             (4) Every day
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: BETACAR2, Length: 2748, dtype: object
0       (1) Do not take any
1             (4) Every day
2       (1) Do not take any
3                       NaN
4                       NaN
               ...
2743                    NaN
2744          (4) Every day
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: VITAMNC2, Length: 2748, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2       (1) Do not take any
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: VITAMND2, Length: 2748, dtype: object
0             (4) Every day
1             (4) Every day
2             (4) Every day
3                       NaN
4                       NaN
               ...
2743                    NaN
2744          (4) Every day
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: VITAMNE2, Length: 2748, dtype: object
0             (4) Every day
1             (4) Every day
2             (4) Every day
3                       NaN
4                       NaN
               ...
2743                    NaN
2744      (2) 1-3 days/week
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: CALCTUM2, Length: 2748, dtype: object
0       (1) Do not take any
1       (1) Do not take any
2       (1) Do not take any
3                       NaN
4                       NaN
               ...
2743                    NaN
2744    (1) Do not take any
2745    (1) Do not take any
2746    (1) Do not take any
2747                    NaN
Name: IRON2, Length: 2748, dtype: object
0                 NaN
1       (4) Every day
2       (4) Every day
3                 NaN
4                 NaN
            ...
2743              NaN
2744    (4) Every day
2745              NaN
2746              NaN
2747              NaN
Name: VITOTH12, Length: 2748, dtype: object
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
            ...
2743              NaN
2744    (4) Every day
2745              NaN
2746              NaN
2747              NaN
Name: VITOTH22, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VITOTH32, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: VITOTH42, Length: 2748, dtype: object
0       (1) Contains minerals (iron/calc)
1                                     NaN
2       (1) Contains minerals (iron/calc)
3                                     NaN
4                                     NaN
                      ...
2743                                  NaN
2744                                  NaN
2745    (1) Contains minerals (iron/calc)
2746    (1) Contains minerals (iron/calc)
2747                                  NaN
Name: MULTVIT2, Length: 2748, dtype: object
0
1
2
3
4
                     ...
2743
2744
2745
2746
2747
Name: SITESPE2, Length: 2748, dtype: object
0              (2) Some/a little of the time (1-2 days)
1       (3) Occasionally/mod amt of the time (3-4 days)
2              (2) Some/a little of the time (1-2 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743                (4) Most/all of the time (5-7 days)
2744              (1) Rarely/none of the time (< 1 day)
2745              (1) Rarely/none of the time (< 1 day)
2746              (1) Rarely/none of the time (< 1 day)
2747              (1) Rarely/none of the time (< 1 day)
Name: BOTHER2, Length: 2748, dtype: object
0       (1) Rarely/none of the time (< 1 day)
1       (1) Rarely/none of the time (< 1 day)
2       (1) Rarely/none of the time (< 1 day)
3       (1) Rarely/none of the time (< 1 day)
4       (1) Rarely/none of the time (< 1 day)
                        ...
2743    (1) Rarely/none of the time (< 1 day)
2744    (1) Rarely/none of the time (< 1 day)
2745    (1) Rarely/none of the time (< 1 day)
2746    (1) Rarely/none of the time (< 1 day)
2747    (1) Rarely/none of the time (< 1 day)
Name: APPETIT2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: BLUES2, Length: 2748, dtype: object
0       (4) Most/all of the time (5-7 days)
1       (4) Most/all of the time (5-7 days)
2       (4) Most/all of the time (5-7 days)
3       (4) Most/all of the time (5-7 days)
4       (4) Most/all of the time (5-7 days)
                       ...
2743    (4) Most/all of the time (5-7 days)
2744    (4) Most/all of the time (5-7 days)
2745    (4) Most/all of the time (5-7 days)
2746    (4) Most/all of the time (5-7 days)
2747    (4) Most/all of the time (5-7 days)
Name: GOOD2, Length: 2748, dtype: object
0              (2) Some/a little of the time (1-2 days)
1       (3) Occasionally/mod amt of the time (3-4 days)
2                   (4) Most/all of the time (5-7 days)
3              (2) Some/a little of the time (1-2 days)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744    (3) Occasionally/mod amt of the time (3-4 days)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: KEEPMIN2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743    (3) Occasionally/mod amt of the time (3-4 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: DEPRESS2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1              (2) Some/a little of the time (1-2 days)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744           (2) Some/a little of the time (1-2 days)
2745              (1) Rarely/none of the time (< 1 day)
2746              (1) Rarely/none of the time (< 1 day)
2747              (1) Rarely/none of the time (< 1 day)
Name: EFFORT2, Length: 2748, dtype: object
0                   (4) Most/all of the time (5-7 days)
1                   (4) Most/all of the time (5-7 days)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                   (4) Most/all of the time (5-7 days)
4                   (4) Most/all of the time (5-7 days)
                             ...
2743    (3) Occasionally/mod amt of the time (3-4 days)
2744                (4) Most/all of the time (5-7 days)
2745    (3) Occasionally/mod amt of the time (3-4 days)
2746                (4) Most/all of the time (5-7 days)
2747                (4) Most/all of the time (5-7 days)
Name: HOPEFUL2, Length: 2748, dtype: object
0       (1) Rarely/none of the time (< 1 day)
1       (1) Rarely/none of the time (< 1 day)
2       (1) Rarely/none of the time (< 1 day)
3       (1) Rarely/none of the time (< 1 day)
4       (1) Rarely/none of the time (< 1 day)
                        ...
2743    (1) Rarely/none of the time (< 1 day)
2744    (1) Rarely/none of the time (< 1 day)
2745    (1) Rarely/none of the time (< 1 day)
2746    (1) Rarely/none of the time (< 1 day)
2747    (1) Rarely/none of the time (< 1 day)
Name: FAILURE2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743              (1) Rarely/none of the time (< 1 day)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: FEARFUL2, Length: 2748, dtype: object
0            (4) Most/all of the time (5-7 days)
1       (2) Some/a little of the time (1-2 days)
2          (1) Rarely/none of the time (< 1 day)
3       (2) Some/a little of the time (1-2 days)
4          (1) Rarely/none of the time (< 1 day)
                          ...
2743       (1) Rarely/none of the time (< 1 day)
2744       (1) Rarely/none of the time (< 1 day)
2745    (2) Some/a little of the time (1-2 days)
2746       (1) Rarely/none of the time (< 1 day)
2747    (2) Some/a little of the time (1-2 days)
Name: RESTLES2, Length: 2748, dtype: object
0                   (4) Most/all of the time (5-7 days)
1                   (4) Most/all of the time (5-7 days)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                   (4) Most/all of the time (5-7 days)
4                   (4) Most/all of the time (5-7 days)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744                (4) Most/all of the time (5-7 days)
2745           (2) Some/a little of the time (1-2 days)
2746                (4) Most/all of the time (5-7 days)
2747           (2) Some/a little of the time (1-2 days)
Name: HAPPY2, Length: 2748, dtype: object
0              (2) Some/a little of the time (1-2 days)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747              (1) Rarely/none of the time (< 1 day)
Name: TALKLES2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747              (1) Rarely/none of the time (< 1 day)
Name: LONELY2, Length: 2748, dtype: object
0       (1) Rarely/none of the time (< 1 day)
1       (1) Rarely/none of the time (< 1 day)
2       (1) Rarely/none of the time (< 1 day)
3       (1) Rarely/none of the time (< 1 day)
4       (1) Rarely/none of the time (< 1 day)
                        ...
2743    (1) Rarely/none of the time (< 1 day)
2744    (1) Rarely/none of the time (< 1 day)
2745    (1) Rarely/none of the time (< 1 day)
2746    (1) Rarely/none of the time (< 1 day)
2747    (1) Rarely/none of the time (< 1 day)
Name: UNFRNDL2, Length: 2748, dtype: object
0                   (4) Most/all of the time (5-7 days)
1                   (4) Most/all of the time (5-7 days)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                   (4) Most/all of the time (5-7 days)
4                   (4) Most/all of the time (5-7 days)
                             ...
2743    (3) Occasionally/mod amt of the time (3-4 days)
2744                (4) Most/all of the time (5-7 days)
2745           (2) Some/a little of the time (1-2 days)
2746                (4) Most/all of the time (5-7 days)
2747           (2) Some/a little of the time (1-2 days)
Name: ENJOY2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743           (2) Some/a little of the time (1-2 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: CRYING2, Length: 2748, dtype: object
0                 (1) Rarely/none of the time (< 1 day)
1                 (1) Rarely/none of the time (< 1 day)
2       (3) Occasionally/mod amt of the time (3-4 days)
3                 (1) Rarely/none of the time (< 1 day)
4                 (1) Rarely/none of the time (< 1 day)
                             ...
2743    (3) Occasionally/mod amt of the time (3-4 days)
2744              (1) Rarely/none of the time (< 1 day)
2745           (2) Some/a little of the time (1-2 days)
2746              (1) Rarely/none of the time (< 1 day)
2747           (2) Some/a little of the time (1-2 days)
Name: SAD2, Length: 2748, dtype: object

0       (7) Unknown due to HT use
1                  (4) Early peri
2                  (4) Early peri
3                   (3) Late peri
4                  (4) Early peri
                  ...
2743    (7) Unknown due to HT use
2744               (4) Early peri
2745               (4) Early peri
2746               (4) Early peri
2747               (4) Early peri
Name: STATUS2, Length: 2748, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2743    NaN
2744    NaN
2745    NaN
2746    NaN
2747    NaN
Name: PRIMREA2, Length: 2748, dtype: object
0                      NaN
1               (2) 1-3/mo
2                      NaN
3                      NaN
4                      NaN
               ...
2743    (1) None or < 1/mo
2744                   NaN
2745    (1) None or < 1/mo
2746    (1) None or < 1/mo
2747    (1) None or < 1/mo
Name: GLASBEE2, Length: 2748, dtype: object
0                      NaN
1               (5) 5-6/wk
2                      NaN
3                      NaN
4                      NaN
               ...
2743            (2) 1-3/mo
2744                   NaN
2745            (4) 2-4/wk
2746    (1) None or < 1/mo
2747    (1) None or < 1/mo
Name: GLASWIN2, Length: 2748, dtype: object
0                      NaN
1               (2) 1-3/mo
2                      NaN
3                      NaN
4                      NaN
               ...
2743    (1) None or < 1/mo
2744                   NaN
2745    (1) None or < 1/mo
2746    (1) None or < 1/mo
2747    (1) None or < 1/mo
Name: GLASLIQ2, Length: 2748, dtype: object
0                      (4) 2-4 hrs/day
1                      (3) 1-2 hrs/day
2                      (3) 1-2 hrs/day
3              (5) More than 4 hrs/day
4       (1) Never or less than 1 hr/wk
                     ...
2743    (1) Never or less than 1 hr/wk
2744                   (4) 2-4 hrs/day
2745                   (3) 1-2 hrs/day
2746                   (3) 1-2 hrs/day
2747                   (4) 2-4 hrs/day
Name: WATCHTV2, Length: 2748, dtype: object
0       (1) Never/ < 5 minutes per day
1         (5) More than 45 minutes/day
2                 (2) 5-15 minutes/day
3         (5) More than 45 minutes/day
4       (1) Never/ < 5 minutes per day
                     ...
2743              (2) 5-15 minutes/day
2744    (1) Never/ < 5 minutes per day
2745    (1) Never/ < 5 minutes per day
2746             (3) 16-30 minutes/day
2747             (3) 16-30 minutes/day
Name: WALKBIK2, Length: 2748, dtype: object
0                  (3) 2-3 times a month
1       (1) Never/less than once a month
2                       (2) Once a month
3                  (5) More than once/wk
4       (1) Never/less than once a month
                      ...
2743               (5) More than once/wk
2744    (1) Never/less than once a month
2745               (5) More than once/wk
2746    (1) Never/less than once a month
2747    (1) Never/less than once a month
Name: SWEATPA2, Length: 2748, dtype: object
0       (1) Never/less than once a month
1                  (5) More than once/wk
2       (1) Never/less than once a month
3                  (5) More than once/wk
4                         (2) Once/month
                      ...
2743               (5) More than once/wk
2744               (5) More than once/wk
2745               (5) More than once/wk
2746               (5) More than once/wk
2747    (1) Never/less than once a month
Name: SPORTS2, Length: 2748, dtype: object
0               (4) Yes, 3-4 times/wk
1               (3) Yes, 1-2 times/wk
2       (1) No, not in the past 2 wks
3       (1) No, not in the past 2 wks
4       (1) No, not in the past 2 wks
                    ...
2743    (1) No, not in the past 2 wks
2744    (1) No, not in the past 2 wks
2745             (2) Yes, < once a wk
2746    (1) No, not in the past 2 wks
2747             (2) Yes, < once a wk
Name: TRBLSLE2, Length: 2748, dtype: object
0         (5) Yes, 5 or more times/wk
1               (3) Yes, 1-2 times/wk
2               (4) Yes, 3-4 times/wk
3               (3) Yes, 1-2 times/wk
4       (1) No, not in the past 2 wks
                    ...
2743    (1) No, not in the past 2 wks
2744            (3) Yes, 1-2 times/wk
2745            (3) Yes, 1-2 times/wk
2746    (1) No, not in the past 2 wks
2747            (3) Yes, 1-2 times/wk
Name: WAKEUP2, Length: 2748, dtype: object
0         (5) Yes, 5 or more times/wk
1                (2) Yes, < once a wk
2                (2) Yes, < once a wk
3                (2) Yes, < once a wk
4       (1) No, not in the past 2 wks
                    ...
2743    (1) No, not in the past 2 wks
2744             (2) Yes, < once a wk
2745            (3) Yes, 1-2 times/wk
2746             (2) Yes, < once a wk
2747            (3) Yes, 1-2 times/wk
Name: WAKEARL2, Length: 2748, dtype: object
0       (5) Once a night, every night
1            (2) Rarely (< once a wk)
2       (5) Once a night, every night
3       (5) Once a night, every night
4                           (1) Never
                    ...
2743         (2) Rarely (< once a wk)
2744    (5) Once a night, every night
2745               (4) A few times/wk
2746         (2) Rarely (< once a wk)
2747         (2) Rarely (< once a wk)
Name: GETUPUR2, Length: 2748, dtype: object
0                            NaN
1          (3) Several days/week
2       (2) Less than 1 day/week
3          (3) Several days/week
4                      (1) Never
                  ...
2743                   (1) Never
2744      (4) Almost daily/daily
2745                         NaN
2746                         NaN
2747                         NaN
Name: DAYSLEA2, Length: 2748, dtype: object
0                                             NaN
1       (2) Enough to change underwear/wear liner
2       (2) Enough to change underwear/wear liner
3       (2) Enough to change underwear/wear liner
4                               (1) A drop or two
                          ...
2743                            (1) A drop or two
2744    (2) Enough to change underwear/wear liner
2745                                          NaN
2746                                          NaN
2747                                          NaN
Name: AMTLEAK2, Length: 2748, dtype: object
0       (2) Once or twice/mon
1       (4) More than once/wk
2       (2) Once or twice/mon
3              (1) Not at all
4       (2) Once or twice/mon
                ...
2743    (4) More than once/wk
2744    (4) More than once/wk
2745           (1) Not at all
2746    (2) Once or twice/mon
2747        (3) About once/wk
Name: DESIRSE2, Length: 2748, dtype: object
0                   (5) Daily
1                   (5) Daily
2                   (5) Daily
3                         NaN
4                   (5) Daily
                ...
2743    (4) More than once/wk
2744                (5) Daily
2745                      NaN
2746    (2) Once or twice/mon
2747                      NaN
Name: KISSING2, Length: 2748, dtype: object
0       (4) More than once/wk
1                   (5) Daily
2                   (5) Daily
3                         NaN
4       (2) Once or twice/mon
                ...
2743    (4) More than once/wk
2744    (4) More than once/wk
2745                      NaN
2746    (2) Once or twice/mon
2747                      NaN
Name: TOUCHIN2, Length: 2748, dtype: object
0              (1) Not at all
1       (2) Once or twice/mon
2              (1) Not at all
3                         NaN
4              (1) Not at all
                ...
2743    (4) More than once/wk
2744        (3) About once/wk
2745                      NaN
2746    (2) Once or twice/mon
2747                      NaN
Name: ORALSEX2, Length: 2748, dtype: object
0       (2) Once or twice/mon
1       (4) More than once/wk
2       (4) More than once/wk
3                         NaN
4       (2) Once or twice/mon
                ...
2743    (4) More than once/wk
2744    (4) More than once/wk
2745                      NaN
2746    (2) Once or twice/mon
2747                      NaN
Name: INTCOUR2, Length: 2748, dtype: object
0               (1) Not at all
1               (1) Not at all
2               (1) Not at all
3               (1) Not at all
4               (1) Not at all
                 ...
2743            (1) Not at all
2744            (1) Not at all
2745            (1) Not at all
2746    (2) Less Than once/mon
2747     (3) Once or twice/mon
Name: MASTURB2, Length: 2748, dtype: object
0              (3) Gynecologist
1              (3) Gynecologist
2              (3) Gynecologist
3                 (2) Internist
4       (1) Family practitioner
                 ...
2743           (3) Gynecologist
2744    (1) Family practitioner
2745    (1) Family practitioner
2746                        NaN
2747              (2) Internist
Name: SPECIAL2, Length: 2748, dtype: object

In [8]:
for name,df in dfs.items():
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].str.contains(':').any():
                print(f'{name},{col}, {df[col].unique()[:10]}')

baseline_df,SPSCTIM0, ['           .' '     0:09:03' '     0:15:07' '     0:18:29'
 '     0:13:51' '     0:09:08' '     0:10:31' '     0:09:31'
 '     0:11:10' '     0:10:02']
baseline_df,HPSCTIM0, ['           .' '     0:08:53' '     0:15:17' '     0:18:13'
 '     0:14:01' '     0:09:17' '     0:10:41' '     0:09:35'
 '     0:10:56' '     0:10:08']
baseline_df,HPSCMOD0, [nan '(05) 5: 2000 machine' '(11) 11: 4500 machine']
visit1_df,STRTIM11, ['           .' '     9:00:00' '     8:00:00' '     8:30:00'
 '     7:00:00' '    17:00:00' '     7:30:00' '     6:00:00'
 '     9:30:00' '     8:15:00']
visit1_df,STPTIM11, ['           .' '    17:00:00' '    15:00:00' '    15:15:00'
 '    14:00:00' '    11:30:00' '     1:30:00' '    17:30:00'
 '    16:00:00' '    14:30:00']
visit1_df,SPSCTIM1, ['     0:10:08' '     0:12:55' '     0:18:01' '           .'
 '     0:10:47' '     0:11:36' '     0:10:03' '     0:12:44'
 '     0:12:59' '     0:16:12']
visit1_df,HPSCTIM1, ['     0:09:52' '     0:13:03' '     0:17:39' '           .'
 '     0:10:40' '     0:11:25' '     0:10:09' '     0:12:37'
 '     0:12:45' '     0:16:03']
visit2_df,STRTIM12, ['    10:00:00' '           .' '     8:00:00' '     8:30:00'
 '     7:00:00' '     6:30:00' '     9:00:00' '     9:30:00'
 '     6:00:00' '    23:00:00']
visit2_df,STPTIM12, ['    21:00:00' '           .' '    17:00:00' '    15:30:00'
 '    16:10:00' '    18:30:00' '    16:30:00' '    14:30:00'
 '    16:00:00' '    21:30:00']
visit2_df,STRTIM22, ['           .' '     8:30:00' '     8:00:00' '     9:00:00'
 '    14:00:00' '     1:00:00' '    17:30:00' '    18:00:00'
 '    13:00:00' '    10:00:00']
visit2_df,STPTIM22, ['           .' '    15:30:00' '    17:30:00' '    14:00:00'
 '    17:00:00' '    18:00:00' '    20:00:00' '    19:00:00'
 '    20:30:00' '    18:30:00']
visit2_df,STRTIM32, ['           .' '     8:30:00' '    21:00:00' '     8:15:00'
 '    18:00:00' '    15:00:00' '     9:00:00' '    14:00:00'
 '    17:30:00' '    18:30:00']
visit2_df,STPTIM32, ['           .' '     9:30:00' '     1:00:00' '    14:34:59'
 '    21:00:00' '    17:00:00' '    22:30:00' '    18:00:00'
 '     6:30:00' '    22:00:00']
visit2_df,SPSCTIM2, ['     0:10:07' '     0:14:05' '           .' '     0:11:09'
 '     0:09:26' '     0:08:05' '     0:10:39' '     0:10:54'
 '     0:10:55' '     0:09:16']

In [9]:
def _convert_dt(df_name,col,dict_of_dfs,_format):
    """
    Mutates a col in a dataframe to dt dtype with given format
    """
    dict_of_dfs[df_name][col] = pd.to_datetime(dict_of_dfs[df_name][col],format = _format)
    
def mutate_dfs_convert_dts(dict_of_dfs):
    """
    Loops through dt specifications and mutates dfs in dict by converting datetimes
    """
    format_1_cols = [
    ('visit1_df','STRTIM11'),
    ('visit1_df','STPTIM11'),
    ('visit2_df','STRTIM12'),
    ('visit2_df','STPTIM12'),
    ('visit2_df','STRTIM22'),
    ('visit2_df','STPTIM22'),
    # ('visit2_df','STRTIM32'),
#     ('visit2_df','STPTIM32'),
    ]
    format_2_cols = [
    ('baseline_df','SPSCTIM0'),
    ('baseline_df','HPSCTIM0'),
    ('visit1_df','SPSCTIM1'),
    ('visit1_df','HPSCTIM1'),
    ('visit2_df','SPSCTIM2'),
    ]

    for coltuple in format_1_cols:
        _convert_dt(*coltuple,dict_of_dfs,'%H:%M:%S')
    for coltuple in format_2_cols:
        _convert_dt(*coltuple,dict_of_dfs,'0:%H:%M')

# 4. Thinking about data quality

## 4a. Looking at data richness by column

- Lets assume that a column over 97.5% null is less useful for analytics due to a smaller sample size. Quantifying them:

In [10]:
def get_nulls_ratios(dict_of_dfs): 
    """
    Loops through dict of dfs and returns data on which columns are over 97.5% null in each df
    """
    out = {}
    for name, df in dfs.items():
        nulls = (df.isnull().mean() *100).round(2)
        out[name + 'nulls_stats'] = (
            pd.DataFrame(
                nulls[nulls>=97.5]
            )
            .reset_index()
            .rename(columns = {'index':'colname',0:'percent_null'})
        )
    return out

- We may want to remove any columns over 97.5 null to reduce the dimensions of our data.

In [26]:
def filter_out_nans_mutates(dict_of_dfs):
    """
    Removes columns with over 97.5% null (yielding a small sample size for analysis given rows per table)
    """
    names = ['baseline_df','visit1_df','visit2_df']
    for name in names:
        cols_to_drop = dict_of_dfs[name + 'nulls_stats']
        cols_to_drop = list(cols_to_drop[cols_to_drop.percent_null > 97.5].colname)
        dict_of_dfs[name] = dict_of_dfs[name].drop(columns=cols_to_drop)

## 4. Quantify how columns are shared between tables

- Initial exploration yielded much smaller intersections in columns than expected- due to suffixes relating to the stage of the study
- Accounting for them, how are columns shared between each dataset?

In [12]:
def get_clean_column_names(dfname, df,df_suffix_dict):
    """
    Removes dataset-specific suffix from colnames of df
    """
    suffix = df_suffix_dict[dfname]
    return [re.sub(f'{suffix}$','',col) for col in df.columns]

def get_columns_in_a_not_in_b(dict_of_dfs,dfname_a,dfname_b):
    """
    Gets difference of colums in a vs b, accounting for colname suffixes
    """
    df_suffix_dict = {'baseline_df' : '0', 'visit1_df' : '1','visit2_df': '2'}
    cleaned_columns_a = get_clean_column_names(dfname_a, dict_of_dfs[dfname_a], df_suffix_dict)
    cleaned_columns_b = get_clean_column_names(dfname_b, dict_of_dfs[dfname_b], df_suffix_dict)
    set_difference = set(cleaned_columns_a).difference(set(cleaned_columns_b))
    out = pd.DataFrame({'columns':[col+df_suffix_dict[dfname_a] for col in set_difference]})
    return out

In [13]:
get_columns_in_a_not_in_b(dfs,'visit1_df','visit2_df')

     columns
0   FACRESU1
1   FEAROLD1
2   TAKEDES1
3   MOMBORN1
4   FLGCVRV1
..       ...
61     SAME1
62  WORYMUC1
63  GRAYHAI1
64   CVRDAY1
65  FRNDPHO1

[66 rows x 1 columns]

- This looks more reasonable (in conunction with the documentation provided, I am happy that no info was lost at this stage). Let's see how that compares to baseline:

In [14]:
get_columns_in_a_not_in_b(dfs,'visit1_df','baseline_df')

      columns
0    OTHRTW11
1    PROGES21
2    YOUVISI1
3    CHNGJOB1
4    STOPOTH1
..        ...
361  LANGSAA1
362   OTCTW91
363  HLTHSER1
364  CALCTUM1
365  PRGNANT1

[366 rows x 1 columns]

- Accounting for the suffixes, the baseline table contains a lot of data not in the visit tables, which is not unexpected.

## 5. Check state of SWANID

- First make sure that no SWANID in visit datasets are not present in baseline

In [15]:
set(visit1_df['SWANID']).difference(set(baseline_df['SWANID']))

set()

In [16]:
set(visit2_df['SWANID']).difference(set(baseline_df['SWANID']))

set()

- Lets also make sure they are always unique per table:

In [17]:
for name, df in dfs.items():
    print(f'{name}: {df.SWANID.nunique()/df.SWANID.shape[0]}')

baseline_df: 1.0
visit1_df: 1.0
visit2_df: 1.0

- See how SWANIDs are conserved throughout the study - how many drop off at each stage:

In [18]:
def get_cohort_funnel_stats(dfs):
    """
    Returns data on how many survey subjects are retained at subsequent stages of the study
    """
    total = len(dfs['baseline_df']['SWANID'])
    vis1 = len(set(dfs['baseline_df']['SWANID']).intersection(set(dfs['visit1_df']['SWANID'])))
    vis2=len(set(dfs['baseline_df']['SWANID']).intersection(set(dfs['visit1_df']['SWANID'])).intersection(set(dfs['visit2_df']['SWANID'])))
    cohort = pd.DataFrame({'stage':['baseline','visit1','visit2'], 'subjects':[total,vis1,vis2]})
    return cohort

## Joining datasets

In [19]:
def set_swanid_index_mutates(dfs):
    """
    Sets pandas index for joining survey datasets if required
    """
    for name in ['baseline_df','visit1_df','visit2_df']:
        dfs[name].set_index('SWANID',inplace=True)
        
def drop_redundant_cols_mutates(dfs):
    """
    Drop cols that are shared between tables in case of join
    """
    drop_dict = {'baseline_df': ['VISIT'],'visit1_df': ['VISIT','RACE'], 'visit2_df': ['VISIT','RACE']}
    for dfname, cols in drop_dict.items():
        dfs[dfname] = dfs[dfname].drop(columns=cols)

In [20]:
def join_visits_mutates(dfs):
    """
    Adds new df - baseline left join subsequent visits - to dict of dfs
    """
    full_data = dfs['baseline_df'].join(dfs['visit1_df'],how = 'left',).join(dfs['visit2_df'], how='left')
    dfs['full_data'] = full_data

- NB - running the above left joins, even after filtering out columns over 97.5% null, exceeds data limits in postgres. 
- Some kind of data lake (e.g. s3) or data warehouse (e.g. Redshift) might be preferable to store this joined data in reality. 
- Sticking to the limits imposed by my Postgres container solution, I will load the tables seperately into the database. However, I will create indexes on SWANID to speed up any joining required by data consumers.

## Testing

- Now we have some data processing functions, we ideally want 100% unit test coverage of them. 
- Given the confines of this task, and the fact that we are developing in Jupyter, let's sketch out what some of our unit tests might look like (when included in a pytest testing suite).

In [21]:
def test_strip_whitespace():
    _in = pd.DataFrame({
        'col1':[' one', '   . ', 'two', ' '],
        'col2':[1,2,3,4]
    })
    target = pd.DataFrame({
        'col1':['one', '.', 'two', ''],
        'col2':[1,2,3,4]
    })
    out = _strip_whitespace(_in)
    pd.testing.assert_frame_equal(out,target)

def test_clean_nans():
    _in = pd.DataFrame({
        'col1':['one','-1','two', ''],
        'col2':['three','-1','four', '.'],
    })
    target = pd.DataFrame({
        'col1':['one',np.nan,'two', np.nan],
        'col2':['three',np.nan,'four', np.nan],
    })
    out = _clean_nans(_in)
    pd.testing.assert_frame_equal(out,target)

def test_convert_bools():
    """
    NB -calls to convert dtypes() are to convert from np bool (default) to pandas boolean dtype
    """
    _in = pd.DataFrame({
        'col1':['(1) No', '(2) Yes', '(2) Yes', np.nan],
        'col3':['(1) No', '(2) Yes', '(2) Yes', '(2) Yes'],
        'col2':['three','-1','four', '.'],
    })
    target = pd.DataFrame({
        'col1':pd.Series([False, True, True, np.nan]).convert_dtypes(),
        'col3':pd.Series([False, True, True, True]).convert_dtypes(),
        'col2':['three','-1','four', '.'],
    })
    out = _convert_bools(_in)
    print(out)
    pd.testing.assert_frame_equal(out,target)
    
test_strip_whitespace()
test_clean_nans()
test_convert_bools()

    col1   col3   col2
0  False  False  three
1   True   True     -1
2   True   True   four
3   <NA>   True      .

## Step 2: Data aggregation and presentation

Now you have a basic understanding of the data, the next step is to **build a simple 1 page dashboard that summarises the key characteristics of the datasets**.  

For this task, you will need to consider the following areas: 
- How to aggregate the 3 datasets into one data structure (e.g. a database) that can be queried (with your chosen programming language) 
- What exhibits to display
- How to transform the data for the selected exhibits
- How to host the dashboard (note: the dashboard does not require a public URL, you can demo on your local machine)

##### To help simplify this task, please use the following guidelines:
- Stick to a 1 page layout and do not try and prepare more than 6 exhibits 
- Don't worry about 'perfect' styling - we understand this can take a lot of time and we're most interested in your overall approach and the core components of your implementation 

Your implementation will likely require writing code outside of the Jupyter notebook environment.  
So, in this notebook please just provide a summary of your approach and add written detail for what else you would do that you haven't included.    
As in step 1, in your written code, please include inline code comments or markdown to explain your approach.

# ETL

- Using the data processing functions developed through exploration, we have something that looks like an ETL pipeline
- Data are read from csv on disk, processed, and loaded to the postgres database running on the db service

## Extract

In [22]:
baseline_df = pd.read_csv("data/swan_1996_97_baseline.csv")
visit1_df = pd.read_csv("data/swan_1997_99_visit1.csv")
visit2_df = pd.read_csv("data/swan_1998_00_visit2.csv")
dfs = {'baseline_df': baseline_df, 'visit1_df': visit1_df,'visit2_df': visit2_df}

/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (119,215,261) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,33,37,51,52,53,57,103,104,105,106,147,148,149,150,151,152,153,154,209,211,267,270) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jack.rowntree/.pyenv/versions/3.6.8/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,53,57,67,75,77,99,100,101,102,103,104,105,106,107,159,160,161,162,163,164,165,166,167,210,227,494) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Transform

In [23]:
dfs = convert_bools(dfs)
dfs = strip_whitespace(dfs)
dfs = clean_nans(dfs)
dfs = {**dfs,**get_nulls_ratios(dfs)}
mutate_dfs_convert_dts(dfs)
drop_redundant_cols_mutates(dfs)
dfs = {**dfs, **{'cols_in_visit1_not_in_baseline':get_columns_in_a_not_in_b(dfs,'visit1_df','baseline_df')}}
dfs = {**dfs, **{'cols_in_visit2_not_in_visit1':get_columns_in_a_not_in_b(dfs,'visit2_df','visit1_df')}}
dfs = {**dfs, **{'cohort_funnel_stats': get_cohort_funnel_stats(dfs)}}

## Load

In [24]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5433/postgres')
for name, df in dfs.items():
    df.to_sql(name,engine,if_exists ='replace',index=False)
for table in ['baseline_df','visit1_df','visit2_df']:
    with engine.connect() as con:
        con.execute(f'ALTER TABLE {table} ADD PRIMARY KEY ("SWANID");')

# Discussion/Potential Improvements

## Architecture

- Ideally, a full docker network including a container running jupyter would have been more clean, but the extra config required did not fit the time constraints of the task. However, the dashboard service and persistent db service are a good start towards generalisation to other local machines or remote deployment
- As mentioned above, an alternative datastore solution (e.g. data lake or columnar datastore) would allow us to store the joined data, and move query-writing workload away from data consumers. My assumption is that data consumers e.g. data scientists would want the data from each survey assimilated into a wide format for model building. As a short term solution, ensuring the seperate tables have indices on SWANID will reduce querying time for data consumers.

## Dashboard

- I chose to use `dash`, which in my experience is the fastest way to build dashboards in pure python. As a long-term solution for visualising the data in question, it is sub-optimal as more python development is required to add more features. 
- A comprehensive open source BI tool such as Redash would have been my ideal solution, as it allows data consumers to create their own dashboards with SQL. However setup of a Redash service is outside the time constraints of this task.

## Data Exploration

- Within the time constraints of this task, I prioritised exploring aspects of data quality over dataset-specific insights and requirements. This would be a reasonable expectation over a longer time frame, ideally working closely with colleagues with domain-specific knowledge of this dataset. 
- However, my solution provides the first step in this process of iterative requirement creation.

## Data Processing

- As highlighted in Section 1, more thorough test coverage would be essential as part of transitioning this notebook code into a proper ETL codebase

- Encoding of text-based categorical survey responses could have saved memory, but I operated under the assumption that it is better to leave the data consumers to make this requirement if they wish. 

- Similarly, removing columns with high % null is something I accounted for as a potentially useful requirement, but one that would be decided on in conjunction with data consumers. 

- As with all data processing, we would ideally ensure that all information governance/GDPR conditions are adhered to.